{% extends 'Dashboard/base.html' %}
{% load static %}

{% block content %}

<div class="account">
	<div class="container">
        <div class="register" style="align-items: center;">
            <h2>Password Reset Sent</h2>

            <p style="color: #000000;display: block;font-size: 1.9em;margin: 1em 0 1.5em 0;line-height: 1.8em;width: 95%;">We have sent password reset instructions to your Email.
                If the account exists your entered Email address, you should
                recieve them shortly.</p>

            <p style="color: #000000;display: block;font-size: 1.9em;margin: 1em 0 1.5em 0;line-height: 1.8em;width: 95%;">If you didn't receive an email, make sure that you have
                entered correct Email address and check your spam folder.</p>

        </div>
    </div>
</div>
{% endblock %}
