{% extends 'Dashboard/base.html' %}
{% load static %}

{% block content %}

<div class="account">
	<div class="container">
        <div class="register" style="align-items: center;">
            <h2>Password Reset</h2>

            <p style="color: #b2b2b2;display: block;font-size: 1.9em;margin: 1em 0 1.5em 0;line-height: 1.8em;width: 95%;">Forgot Your Password? Enter Your Email Address
            Below, And Password Reset Instructions Will Be Sent To Your Email.</p>

            <form id="testform" method="POST">{% csrf_token %}
                <div class="mation">
                <span>Email Address: </span>
						{{form.email}}

                <input type="submit" value="Send Email">
                </div>
            </form>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

{% endblock %}